html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: white;
  font-size: 60px;
  font-family: "Handjet", cursive;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hovered {
  background-color: cyan;
}

.pixel {
  flex: 1 0 auto;
}

#container {
  width: 800px;
  height: 800px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}